/* Container of the game */
#game_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cdcbcb;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px black double;
    border-radius: 15px;
}
body{
    background-color: #a5a5a5;
}
#game_win_background{
    visibility: hidden;
    background-color: rgba(0, 0, 0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
#game_controls{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
label{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#game_win_container{
    background-color: white;
    padding: 20px;
    width: max-content;
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cards_container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#game_info p, #game_win_container p{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.card{
    width: 50px;
    height: 72.6px;
    background-color: transparent;
    perspective: 1000px;
}
.card_inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition:transform 0.3s;
    /* allow card to show the back side */
    transform-style: preserve-3d;
}
.card_image{
    width: 50px;
}
.card_img_incorrect, .card_img_correct{
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.card_img_correct{
    background-color: green;
    animation: showing-out 0.5s 0.3s forwards;
}
.card_img_incorrect{
    background-color: red;
    animation: showing-out 0.5s 0.3s linear alternate-reverse;
}
.card.flipped .card_inner{
    transform: rotateY(180deg);
}
/* keep card face up if matched */
.card.matched .card_inner{
    transform: rotateY(180deg);
}
.card_front, .card_back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card_back{
  transform: rotateY(180deg);
}

#game_info{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 10px;
}

@keyframes showing-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.3;
    }
}